h1{
	color: blue;
}

#container{
	margin: 0 auto;
	border: 1px black solid;
	width: 50%;
}

img{
	float:left;
	padding: 10px;
	margin-right: 5px;
	border: 1px solid black;
}

table{
	width: 80%;
}